@font-face {
  font-family: 'HawlersEightRough';
  src: url('/fonts/HawlersEightRough.otf') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'LuchitaPayolLaRuda';
  src: url('/fonts/LuchitaPayol-LaRuda.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'LuchitaPayolTecnica';
  src: url('/fonts/LuchitaPayol-Tecnica.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
